*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

.flex {
  display: flex;
}

h1,
h2 {
  font-weight: 700;
}

header {
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  justify-content: center;
  align-items: center;
}
